input/airflownetwork.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:afn="http://github.com/jasondegraw/AirflowNetwork" targetNamespace="http://github.com/jasondegraw/AirflowNetwork" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>AirflowNetwork Schema - Version 1.1 (April 19, 2019)</xs:documentation>
  </xs:annotation>
  <xs:element name="AirflowNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Description" type="xs:string" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Description of the model</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Elements" minOccurs="0" maxOccurs="1">
          <xs:annotation>
            <xs:documentation>The set of all airflow elements used in the model</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PowerLaw" type="afn:PowerLawType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="DetailedOpening" type="afn:ComisDetailedOpeningType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Levels" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The set of all levels in the model</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Level" type="afn:LevelType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Nodes" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The set of all nodes in the model</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Node" type="afn:NodeType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Links" minOccurs="0">
          <xs:annotation>
            <xs:documentation>The set of all links that connect nodes in the model</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Link" type="afn:LinkType" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="PowerLawType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Basis upon which flow is calculated</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Formulation" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AIRNET"/>
            <xs:enumeration value="CONTAM"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="FlowBasis">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Mass"/>
            <xs:enumeration value="Volume"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Coefficient">
        <xs:annotation>
          <xs:documentation>Power law flow coefficient</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minExclusive value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="LaminarCoefficient" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Power law flow coefficient for small pressure differences, defaults to the coefficient value</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minExclusive value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Exponent">
        <xs:annotation>
          <xs:documentation>Power law flow exponent</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0.5"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ReferenceState" type="afn:AirStateType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Reference state of the power law element</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Transition">
        <xs:annotation>
          <xs:documentation>Specify how small pressure differences are to be handled</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="ByMinimum" type="xs:string" fixed="">
              <xs:annotation>
                <xs:documentation>Power law flow transition by minimum flow from laminar and turbulent calculations</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ReynoldsNumber">
              <xs:annotation>
                <xs:documentation>Power law flow transition Reynolds number</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:double">
                  <xs:minExclusive value="0.0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="PressureDifference" type="afn:PressureQuantityType">
              <xs:annotation>
                <xs:documentation>Power law flow transition pressure difference</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="CoefficientRelationship" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Specify how laminar and turbulent coefficents are related, if at all</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="TransitionReynoldsNumber">
              <xs:annotation>
                <xs:documentation>Power law flow transition Reynolds number</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:double">
                  <xs:minExclusive value="0.0"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="TransitionPressureDifference" type="afn:PressureQuantityType">
              <xs:annotation>
                <xs:documentation>Power law flow transition pressure difference</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Data" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DataPoint" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:choice>
                    <xs:element name="MassFlowRate" type="afn:MassFlowRateQuantityType"/>
                    <xs:element name="VolumeFlowRate" type="afn:VolumeFlowRateQuantityType"/>
                  </xs:choice>
                  <xs:element name="PressureDifference" type="afn:PressureQuantityType"/>
                  <xs:element name="State" type="afn:AirStateType" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID">
      <xs:annotation>
        <xs:documentation>Name of power law element, must be unique</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ComisDetailedOpeningType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description of the detailed opening element</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Coefficient">
        <xs:annotation>
          <xs:documentation>Flow coefficient when the opening is closed</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minExclusive value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Exponent" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Flow exponent when the opening is closed, defaults to 0.65</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0.5"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OpeningType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Type of opening, defaults to NonPivoted</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NonPivoted"/>
            <xs:enumeration value="HorizontallyPivoted"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ExtraCrackLengthOrHeightOfPivotingAxis" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Extra crack length or the height of the pivoting axis [m], defaults to 0</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minExclusive value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OpeningFactors" type="afn:OpeningFactorsType" minOccurs="2" maxOccurs="4"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID">
      <xs:annotation>
        <xs:documentation>Name of power law element, must be unique</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AirStateType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description of the air state</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:sequence>
          <xs:element name="Temperature" type="afn:TemperatureQuantityType" minOccurs="1"/>
          <xs:element name="Pressure" type="afn:PressureQuantityType" minOccurs="0"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="Pressure" type="afn:PressureQuantityType" minOccurs="1"/>
        </xs:sequence>
      </xs:choice>
      <xs:element name="HumidityRatio" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID">
      <xs:annotation>
        <xs:documentation>Name of air state, must be unique</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OpeningFactorsType">
    <xs:sequence>
      <xs:element name="OpeningFraction">
        <xs:annotation>
          <xs:documentation>The fraction that the window or door is open</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="DischargeCoefficient" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The fractional effectiveness for air flow through the opening at this opening factor, defaults to 0.001</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minExclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="WidthFactor" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The opening width divided by the window or door width, defaults to 0</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="HeightFactor" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The opening height divided by the window or door height, defaults to 0</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StartHeightFactor" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The Start Height divided by the window or door height. Start Height is the distance between the bottom of the window or door and the bottom of the window or door opening. The sum of the Height Factor and the Start Height Factor must be less than 1.0 in order to have the opening within the window or door dimensions. Defaults to 0.0</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="0.0"/>
            <xs:maxInclusive value="1.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NodeType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description of the node</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PressureHandling" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Handling of pressure at this node, defaults to Variable</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Simulated">
              <xs:annotation>
                <xs:documentation>Pressure is computed from the pressure network simlation</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Fixed">
              <xs:annotation>
                <xs:documentation>Pressure is fixed and never changes</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Calculated">
              <xs:annotation>
                <xs:documentation>Pressure is calculated from parameters that may change during the simulation</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Volume" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The volume associated with the node</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="SpecifiedVolume" type="afn:VolumeQuantityType">
              <xs:annotation>
                <xs:documentation>The volume associated with the node</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="ComputedVolume">
              <xs:annotation>
                <xs:documentation>The volume with the node in precomputated form</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element name="Dimensions">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Length" type="afn:LengthQuantityType"/>
                        <xs:element name="Width" type="afn:LengthQuantityType"/>
                        <xs:element name="Height" type="afn:LengthQuantityType"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="AreaAndHeight">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Area" type="afn:AreaQuantityType"/>
                        <xs:element name="Height" type="afn:LengthQuantityType"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="AreaAndInheritedHeight" type="afn:AreaQuantityType"/>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="RelativeElevation" type="afn:LengthQuantityType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Elevation of the node relative to the node's level</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DefaultState" type="afn:AirStateType" minOccurs="0"/>
      <xs:element name="LevelID" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name of the level on which this node is located</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="IDref" type="xs:IDREF" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID">
      <xs:annotation>
        <xs:documentation>Name of node, must be unique</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LinkType">
    <xs:sequence>
      <xs:element name="Description" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description of the link</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ElementID">
        <xs:annotation>
          <xs:documentation>ID of linked element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="IDref" type="xs:IDREF" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Multiplier" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Link multipler [-], defaults to 1</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minExclusive value="0.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Nodes">
        <xs:annotation>
          <xs:documentation>The set of two nodes that are connected by link</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Node" minOccurs="2" maxOccurs="2">
              <xs:annotation>
                <xs:documentation>Node connection information</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="NodeID">
                    <xs:annotation>
                      <xs:documentation>ID of linked node</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:attribute name="IDref" type="xs:IDREF" use="required"/>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="RelativeHeight" type="afn:LengthQuantityType" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>Height of the link relative to the node [m], defaults to 0</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID">
      <xs:annotation>
        <xs:documentation>Name of link, must be unique</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LevelType">
    <xs:sequence>
      <xs:element name="Height" type="afn:LengthQuantityType">
        <xs:annotation>
          <xs:documentation>Distance between the floor of this level and its ceiling</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Elevation" type="afn:LengthQuantityType">
        <xs:annotation>
          <xs:documentation>Elevation of the level</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID">
      <xs:annotation>
        <xs:documentation>Name of level, must be unique</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="AbsoluteQuantityType">
    <xs:restriction base="xs:double">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LengthQuantityType">
    <xs:annotation>
      <xs:documentation>A length quantity with specified units</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="afn:AbsoluteQuantityType">
        <xs:attribute name="units" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="m"/>
              <xs:enumeration value="ft"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AreaQuantityType">
    <xs:annotation>
      <xs:documentation>An area quantity with specified units</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="afn:AbsoluteQuantityType">
        <xs:attribute name="units" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="m^2"/>
              <xs:enumeration value="ft^2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VolumeQuantityType">
    <xs:annotation>
      <xs:documentation>A volume quantity with specified units</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="afn:AbsoluteQuantityType">
        <xs:attribute name="units" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="m^3"/>
              <xs:enumeration value="ft^3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PressureQuantityType">
    <xs:annotation>
      <xs:documentation>A pressure quantity with specified units</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:double">
        <xs:attribute name="units" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Pa"/>
              <xs:enumeration value="psi"/>
              <xs:enumeration value="Pag"/>
              <xs:enumeration value="psig"/>
              <xs:enumeration value="atm"/>
              <xs:enumeration value="inches water"/>
              <xs:enumeration value="inches Hg"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TemperatureQuantityType">
    <xs:annotation>
      <xs:documentation>A temperature quantity with specified units</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="afn:AbsoluteQuantityType">
        <xs:attribute name="units" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="K"/>
              <xs:enumeration value="R"/>
              <xs:enumeration value="C"/>
              <xs:enumeration value="F"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="VolumeFlowRateQuantityType">
    <xs:annotation>
      <xs:documentation>A volume flow rate quantity with specified units</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="afn:AbsoluteQuantityType">
        <xs:attribute name="units" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="kg/s"/>
              <xs:enumeration value="lb/s"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="MassFlowRateQuantityType">
    <xs:annotation>
      <xs:documentation>A mass flow rate quantity with specified units</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="afn:AbsoluteQuantityType">
        <xs:attribute name="units" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="kg/s"/>
              <xs:enumeration value="lb/s"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FlowRateQuantityType">
    <xs:choice>
      <xs:element name="MassFlowRate" type="afn:VolumeFlowRateQuantityType"/>
      <xs:element name="VolumeFlowRate" type="afn:MassFlowRateQuantityType"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
